<!DOCTYPE html>
<html>
<head>
    <title>Consultar PJ por nome fantasia</title>
    <style>
        body {
            background-color: #292929; /* Cinza claro */
            color: white;
        }
    </style>
</head>
<body>
    <h1>Consultar por nome fantasia</h1>
    <form action="/consulta_pj" method="post">
        <label for="pj_nomefantasia">Nome Fantasia:</label>
        <input type="text" id="pj_nomefantasia" name="pj_nomefantasia"><br>

        <input type="submit" value="Consultar">
    </form>
</body>
</html>