<!DOCTYPE html>
<html>
<head>
    <title>Insesrir equipamento</title>   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <div class="container">
    <form action="/inserir_equipamento" method=post>
        <label for="eq_id" class="minha-label">ID:</label>
        <input type="text" id="eq_id" name="eq_id" value="{{ eq_id }}" readonly><br>

        <label for="eq_tipo" class="minha-label">Tipo:</label>
        <input type="text" id="eq_tipo" name="eq_tipo"><br>

        <label for="eq_marca" class="minha-label">Marca:</label>
        <input type="text" id="eq_marca" name="eq_marca"><br>

        <label for="eq_modelo" class="minha-label">Modelo:</label>
        <input type="text" id="eq_modelo" name="eq_modelo"><br>
        
        <label for="eq_serial" class="minha-label">Serial:</label>
        <input type="text" id="eq_serial" name="eq_serial"><br>

        <label for="cli_id" class="minha-label">ID do cliente:</label>
        <input type="text" id="cli_id" name="cli_id"><br>

        
        <button type="submit" class="meu-botao"> Enviar </button>
        <button type="button" id="meuBotao" class="meu-botao">Voltar</button>
    </form>

    <script>
        document.getElementById("meuBotao").addEventListener("click", function() {
            window.location.href = "/url_voltar";
        });
    </script>
</div>
</body>
</html>

